.component1{
  display: flex;
  /* justify-content: center; */
  justify-content: center;
  flex-direction: column;
  align-items: center;
 
}
.component1 input{
  margin-top: 10px;
  

}


div:where(.swal2-container) {
  z-index: 9999 !important;
}